# Temporary files
*.swp
.DS_Store

# IDE/editor specific files

# CLion
.idea/

# Visual Studio Code
.vscode/

# KDevelop
.kdev*/
lighttpning.kdev*

# vim
.vimrc.*
.ycm_extra_conf.py

# QtCreator
CMakeLists.txt.user

# Build folders
build*/
cmake-*/

